<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styleBooks.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Document</title>
</head>

<body>
  <div class="root">
      <header class="headerBook d-flex justify-content-around">
        <div class="tittle fs-3">Library</div>
        <div class="tittle fs-4">Your books</div>
      </header>

    <div class="contentHeaderNav">
      <div class=" tittleNav fs-2 d-flex justify-content-center"  >BOOKS  </div>

        <div class="navBook d-flex justify-content-center d-flex flex-sm-row flex-column">
      
          <nav class="navbarBook bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="inputSearchBook " type="search" placeholder="Search for name" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>

      </div>
<div class="container">
        <section class="contBookSection row ">
          
          <div class="filter col-lg-3 col-12 mb-5">
            <div class="fs-5 d-flex justify-content-center" >filters </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Age
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Gender
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Author
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
            </div>
          </div>

          <div class= "allBooksCont col-lg-8 col-12 ">
            <div class="containerCards row justify-content-start">
            <div class="cardBookContainer card align-content-center fs-5" style="width: 15rem;">
              <img src="https://i.pinimg.com/736x/61/6e/75/616e750e92afb52574d6b324e1a2539e.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">These New ‘Harry Potter’ Posters are Gorgeous.</p>
              </div>
            </div>
            <div class="cardBookContainer card align-content-center fs-5" style="width: 15rem;">
              <img src="https://m.media-amazon.com/images/I/414l8Mx6J3L._SY445_SX342_.jpg" class="card-img-top" alt="'La naranja mecánica' de Anthony Burgess">
              <div class="card-body">
                <p class="card-text justify-content-center ">'La naranja mecánica' de Anthony Burgess</p>
              </div>
            </div>
            <div class="cardBookContainer card align-content-center fs-5" style="width: 15rem;">
              <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623086488-hamlet-by-isidro-ferrer-1623086427.jpg?crop=1xw:1xh;center,top&resize=980:*" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Santillana 'Hamlet' de William Shakespeare</p>
              </div>
            </div>
            <div class="cardBookContainer card" style="width: 15rem;">
              <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623080744-41CDgO39Q7L._SL500_.jpg?crop=1xw:1xh;center,top&resize=980:*" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">'El niño en la nieve' de Samuel Bjørk</p>
              </div>
            </div>
            <div class="cardBookContainer card" style="width: 15rem;">
              <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623075087-sender-superviviente-1623075025.jpg?crop=1xw:1xh;center,top&resize=980:*
              " class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">'El superviviente' de Ramón J. Sender</p>
              </div>
            </div>

          </div>
        </section>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</html>