<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styleBooks.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Library-Books</title>
</head>

<body>
  <div class="root">
      <header class="headerBook d-flex mb-3 ">
        <div class="tittlebook me-auto p-2 tittle fs-3">The best library</div>
        <div class=" p-2 tittle fs-4"><button class="butonProfile"><img class="img" src="../images/icons8-usuario-50.png" alt=""></button></div>
      </header>

    <div class="contentHeaderNav">
      <div class=" tittleNav fs-2 d-flex justify-content-center"  >BOOKS  </div>

        <div class="navBook d-flex justify-content-center d-flex flex-sm-row flex-column">
      
          <nav class="navbarBook bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="inputSearchBook " type="search" placeholder=" Search for name" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>

      </div>
<div class="container">
        <section class="contBookSection row ">
          
          <div class="filter col-lg-3 col-12 mb-5">
            <div class="fs-5 d-flex justify-content-center" >filters </div>
            <div class="cleanFilter d-flex justify-content-center"><button class="butonclean">clear filters</button></div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Age
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Gender
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Author
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
            </div>
          </div>

          <div class= "allBooksCont col-lg-8 col-12 ">
            <div id = "containerBook" class="containerCards row justify-content-start">
            

          </div>
        </div>
        </section>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>

  <div class="modal" id="miModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="modalTitle"></h4> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="modalContent"></div> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" id="editButton" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
          <button type="button" id = "deleteModal" class= "btn btn-outline-danger" >delete</button>
        </div>
      </div>
    </div>
    </div>
</body>
<script src="../js/bookIndex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


</html>