<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Selección de Géneros</title>
</head>
<body>
  <select class="seleccion" id="seleccion" multiple>
    <option value="1">Romance</option>
    <option value="2">Misterio</option>
    <option value="3">Suspenso</option>
  </select>
  
  <input type="text" id="resultado">
  <button type="button" id="btn">Enviar</button>

  <script>
    const select = document.getElementById("select-gender");
    const input = document.getElementById("genderview");
  
    function actualizarInput() {
      const optionSelect = Array.from(select.selectedOptions).map(option => option.value).join(", ");
      input.value = optionSelect
      console.log(optionSelect)
      
    }

    // select.addEventListener("change", actualizarInput);
    document.getElementById('btn').addEventListener('click', actualizarInput);
  </script>
</body>
</html>
