<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style-form.css">
    <title>Welcome Library Register</title>
</head>
<body>
    <form action="http://localhost:3000/library/register" method="post" class="form-register" >
        <h2 class="form-register_title">Registrarse</h2>
        <input class="form-register_input" type="number" name="docUser" placeholder="Ingrese el Documento">
        <input class="form-register_input"  type="text" name="nameUser" placeholder="Ingrese el Nombre">
        <input class="form-register_input" type="email"  name="emailUser" placeholder="Ingrese el Correo">
        <input class="form-register_input" type="password" name="passUser"  placeholder="Ingrese la contraseña">
        <input class="form-register_input" type="number"   name="phoneUser" placeholder="Ingese su Telefono">
        <input class="form-register_input" type="text" name="addressUser" placeholder="Ingrese su Direccion">
        <button class="form-register_button"type="submit">Send</button>
        <a class="form-register_link" href="./index.html">Iniciar Sesion</a>
    </form>

</body>
</html>