<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/library/css/style-form.css">
    <title>Welcome Library Register</title>
</head>

<body>
    <form class="form-register">
        <h2 class="form-register_title">Registrarse</h2>
        <input class="form-register_input" type="number" id="docUser" placeholder="Ingrese el Documento">
        <input class="form-register_input" type="text" id="nameUser" placeholder="Ingrese el Nombre">
        <input class="form-register_input" type="email" id="emailUser" placeholder="Ingrese el Correo">
        <input class="form-register_input" type="password" id="passUser" placeholder="Ingrese la contraseña">
        <input class="form-register_input" type="number" id="phoneUser" placeholder="Ingese su Telefono">
        <input class="form-register_input" type="text" id="addressUser" placeholder="Ingrese su Direccion">
        <button class="form-register_button" type="button" id="btn-register">Send</button>
        <a class="form-register_link" href="../index.html">Iniciar Sesion</a>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/register.js"></script>

</body>

</html>