*{
padding: 0;
margin: 0;
}

.header {
    background-color: #000;
    color: #fff;
    font-family: cursive;
  }
  .navbar-brand {
    text-decoration: none;
    color: #fff;
    margin: 5px;
  }
  .navbar-brand:hover {
    color: rgb(187, 184, 184);
  }
  .container-vinculo > button {
    background-color: transparent;
    border: none;
  }
  .container-vinculo {
    justify-content: center;
    margin-left: 200px;
  }
  .vinculo-a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 5px;
    font-size: 17px;
  }
  .vinculo-a:hover {
    color: #f5cbcb;
    border-bottom: #f5cbcb solid 1px;
  }


  .container-search {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 5px;
    color: #000;
    margin: 5px auto;
  }
  .container-search > button {
    background-color: #000;
    color: #fff;
    padding: 4px;
    height: 40px;
    width: 80px;
    margin: 5px;
    border-radius: 5px;
  }
  .container-search > button:hover {
    background-color: rgb(19, 18, 18);
    color: #8f8b8b;
  }
  
  .container-search > input {
    height: 40px;
    padding: 4px;
    margin: 5px 0px;
    width: auto;
  }
  .searchTransac {
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 4px;
    margin: 5px;
  }
  .searchTransac > option {
    background-color: #333;
    color: #fff;
  }

  
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

@media screen and (max-width: 800px) {
  .container-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards;
  }
  #text-h3 {
    border-bottom: 1px solid #f5cbcb;
    font-size: 35px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .container-vinculo {
    flex-direction: column;
    display: flex;
    padding: 0;
    width: 100%;
    margin: 15px 0;
  }

  .container-vinculo > button {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .container-vinculo > button > a {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
    border: none;
    font-size: 17px;
  }
  .container-vinculo > button > a:hover {
    border: 0;
  }
}

